

<form action="<%= session_path session[:user_id] %>" method="post">
<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
<input type ='hidden' name='_method' value='delete'/>
<button name="" value="">logout</button> 
</form><br>
<a href="<%= userss_path session[:user_id] %>">Home</a>

<h2>All Secrets</h2>

<table>
	<% @secrets.each do |secret| %>
	<tr>
		<td> <%= secret.content %> </td>
		<td> | </td>
  		<td> <%= secret.likes.count %> likes</td>
      <% unless secret.users == session[:user_id] %>
      <td>
        <form action="/likes" method="post">
          <input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
          <button name="likes[secret_id]" value="<%= secret.id %>">Like</button> 
        </form>
      </td>
      <% else %>
      <td>
        <form action="/likes" method="post">
          <input type ='hidden' name='_method' value='delete'/>
          <input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
          <button name="likes[secret_id]" value="<%= secret.id %>">UnLike</button> 
        </form> 
      </td>
      <% end %>



      <% if secret.user_id == session[:user_id] %>
      <td> 
        <form action="/secrets" method="post">
          <input type ='hidden' name='_method' value='delete'/>
          <input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
          <button name="secrets" value="<%= secret.id %>">Delete</button> 
        </form>
      </td>
      <% end %>
  </tr>
<% end %>
</table>









