

<form action="<%= session_path session[:user_id] %>" method="post">
<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
<input type ='hidden' name='_method' value='delete'/>
<button name="" value="">logout</button> 
</form>
<a href="<%= userss_path session[:user_id] %>">Home</a>

<h2>All Secrets</h2>

<table>
	<% @secrets.each do |secret| %>
	<% if session[:user_id] != secret.user_id %>
	<tr>
		<td> <%= secret.content %> </td>
		<td> | </td>
  		<td> <%= secret.likes.count %> likes</td>
  		<td> <!-- <button name="secrets[id]" value="<%= secret.likes %>">Like</button> --> </td>
  	</tr>
  	<% end %>
	
  		<% if session[:user_id] == secret.user_id %>
  		<tr>
  			<td> <%= secret.content %> </td>
  			<td> | </td>
  			<td> <%= secret.likes.count %> likes </td>
  			<td> 
				<!-- <form action="<%= secrets_path  %>" method="post">
					<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
  					<button name="" value="">Like</button> 
  				</form> -->
  			</td>
  			<td> 
				<form action="/secrets" method="post">
					<input type ='hidden' name='_method' value='delete'/>
					<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
  					<button name="secrets" value="<%= secret.id %>">Delete</button> 
  				</form>
  			</td>
  		</tr>

		<% end %>
	<% end %>
</table>