
<% content_for :left_column do %>

		<h2>All Posts</h2>

		<table class="table table-striped">
			<thead>
				<th>Title</th>
				<th>Content</th>
				<th>Author</th>
			</thead>
			<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.content %></td>
				<td><%= post.user.first_name %> <%= post.user.last_name %></td>
			</tr>
			<% end %>
		</table>
<% end %>

<% content_for :middle_column do %>

		<h2>New Post</h2>

		<form action="/posts/create" method="post">
			<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
			<label>Title</label><br>
			<input type="text" name="post[title]"><br>
			<label>Content</label><br>
			<input type="textarea" name="post[content" style="height:150px"><br>
			<label>Author</label><br>
			<select type="text" name="post[user_id]"><br>
				<% @users.each do |user| %>
				<option value="<%= user.id %>"><%= user.first_name %> <%= user.last_name %></option>
				<% end %>
			</select>
			<button type="submit">Submit</button>
		</form>
<% end %>

<% content_for :right_column do %>
		<h2>Go to users page</h2>
		<button><a href="/users"> All Users </a></button>

<% end %>